*.aps
*.bak
*.cache
*.dbmdl
*.docstates
*.exe
*.ilk
*.log
*.lib
*.ncb
*.obj
*.opensdf
*.orig
*.pch
*.rej
*.sbr
*.scc
*.sdf
*.sqlsuo
*.suo
_resharper*
*.tlb
*.tlh
*.trx
*.user
*.vsmdi
*.vspscc
*.xsd

[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/
_ReSharper
TestResults/
packages/

WebTest/App_Data/_FileCache
WebTest/App_Data/.sassandcoffeecache
WebTest/Content/.sass-cache
