*.aps
*.bak
*.cache
*.dbmdl
*.docstates
*.exe
*.ilk
*.log
*.lib
*.ncb
*.obj
*.opensdf
*.orig
*.pch
*.rej
*.sbr
*.scc
*.sdf
*.sqlsuo
*.suo
*.tlb
*.tlh
*.trx
*.user
*.vsmdi
*.vspscc
*.xsd

[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/
_ReSharper.SassAndCoffee/
TestResults/
packages/

SassAndCoffee.AspNet.WebTests/App_Data/.SassAndCoffeeCache/
