<?xml version="1.0"?>
<configuration>
    <appSettings>
        <add key="webpages:Version"
             value="1.0.0.0"/>
        <add key="ClientValidationEnabled"
             value="true"/>
        <add key="UnobtrusiveJavaScriptEnabled"
             value="true"/>
        <add key="SassAndCoffee.Cache"
             value="File" />
        <add key="SassAndCoffee.Cache.Path"
             value="%DataDirectory%\.SassAndCoffeeCache\" />
    </appSettings>

    <system.web>
        <caching>
            <outputCacheSettings>
                <outputCacheProfiles>
                    <add name="SassAndCoffeeCacheSettings"
                         enabled="true"
                         duration="3600"
                         location="Any"
                         varyByHeader="Accept-Encoding" />
                </outputCacheProfiles>
            </outputCacheSettings>
        </caching>

        <httpModules>
            <add name="SassInterceptorModule"
                 type="SassAndCoffee.AspNet.SassInterceptorModule" />
            <add name="JavaScriptInterceptorModule"
                 type="SassAndCoffee.AspNet.JavaScriptInterceptorModule" />
        </httpModules>

        <compilation debug="true"
                     targetFramework="4.0">
            <assemblies>
                <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
                <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
                <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
                <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
                <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
            </assemblies>
        </compilation>

        <authentication mode="None" />
        <customErrors mode="Off" />

        <pages>
            <namespaces>
                <add namespace="System.Web.Helpers" />
                <add namespace="System.Web.Mvc" />
                <add namespace="System.Web.Mvc.Ajax" />
                <add namespace="System.Web.Mvc.Html" />
                <add namespace="System.Web.Routing" />
                <add namespace="System.Web.WebPages"/>
            </namespaces>
        </pages>
    </system.web>

    <system.webServer>
        <validation validateIntegratedModeConfiguration="false" />
        <modules runAllManagedModulesForAllRequests="true" >
            <add name="SassInterceptorModule"
                 type="SassAndCoffee.AspNet.SassInterceptorModule" />
            <add name="JavaScriptInterceptorModule"
                 type="SassAndCoffee.AspNet.JavaScriptInterceptorModule" />
        </modules>
        <caching enabled="true"
                 enableKernelCache="true">
            <profiles>
                <add extension=".css"
                     policy="CacheUntilChange"
                     kernelCachePolicy="CacheUntilChange"
                     varyByHeaders="Accept-Encoding"
                     location="Any"/>
                <add extension=".js"
                     policy="CacheUntilChange"
                     kernelCachePolicy="CacheUntilChange"
                     varyByHeaders="Accept-Encoding"
                     location="Any"/>
            </profiles>
        </caching>
        <urlCompression doStaticCompression="true"
                        doDynamicCompression="true" />
    </system.webServer>

    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="System.Web.Mvc"
                                  publicKeyToken="31bf3856ad364e35" />
                <bindingRedirect oldVersion="1.0.0.0-2.0.0.0"
                                 newVersion="3.0.0.0" />
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
</configuration>
